#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24bb26c5-6f30-4cbf-bf83-06ed62aab907 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}