#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c2d4ea8-db4b-40c2-af4f-e0ee962a79d2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}