#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 231px;
  height: 48px;
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}