#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5691a2f9-e0db-47c9-b264-bafacc05abed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}