#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67811bbf-0c00-4016-a7ee-192c46a6470a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}