#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Inbox-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Contactlist-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Contact-bar-color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #02BBD2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_32 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_32 span {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_34 {
  position: absolute;
  top: 38px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_34 span {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Statusbar_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_5 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Icons_6 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_35 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_35 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 103px;
  left: 10px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_2 {
  width: 344px;
  height: 458px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Header {
  position: absolute;
  top: 0px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Header .valign {
  vertical-align: middle;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Header span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Header span#rtr-s-Header_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-input {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #shapewrapper-s-Line_4 {
  display: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-input_1 {
  position: absolute;
  top: 118px;
  left: 1px;
  width: 341px;
  height: 32px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #shapewrapper-s-Line_6 {
  display: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-input_2 {
  position: absolute;
  top: 192px;
  left: 2px;
  width: 341px;
  height: 32px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_4 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_7 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_8 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #shapewrapper-s-Line_8 {
  display: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-input_3 {
  position: absolute;
  top: 263px;
  left: 1px;
  width: 341px;
  height: 32px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_5 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #shapewrapper-s-Line_10 {
  display: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-input_4 {
  position: absolute;
  top: 335px;
  left: 3px;
  width: 341px;
  height: 32px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Input_6 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_11 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Line_12 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #shapewrapper-s-Line_12 {
  display: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Flat-button-light_1 {
  position: absolute;
  top: 412px;
  left: 45px;
  width: 246px;
  height: 42px;
  background-color: #02BBD2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Flat-button-light_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Flat-button-light_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Flat-button-light_1 span#rtr-s-Flat-button-light_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-darker-drawer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: #303030;
  background-image: none;
  opacity: 0.25;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-darker-drawer .valign {
  vertical-align: middle;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-darker-drawer span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-darker-drawer span#rtr-s-darker-drawer_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Drawer {
  position: absolute;
  top: 0px;
  left: -306px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_1 {
  width: 305px;
  height: 640px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Group_2 {
  width: 306px;
  height: 167px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 306px;
  height: 167px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_1 {
  position: absolute;
  top: 128px;
  left: 18px;
  width: 271px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Image_5 {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 79px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_1 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_7 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_3 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Locales {
  width: 306px;
  height: 46px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_6 {
  position: absolute;
  top: 10px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_5 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_6 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_6 span#rtr-s-Rectangle_6_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_13 {
  width: 302px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_9 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_10 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_11 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_11 span {
  color: #02BBD2;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #02BBD2;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_12 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_12 span#rtr-s-Rectangle_12_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Softbar {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Image_8 {
  position: absolute;
  top: 10px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Image_23 {
  position: absolute;
  top: 10px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 #s-Image_24 {
  position: absolute;
  top: 10px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-073e0d70-c71d-49cf-bc43-6f072d5cc824 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}