#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0e93470e-7c40-49a2-9533-bcf8ee2235c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}