#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-185be558-5988-49a4-a9ce-dde242c86a86 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}