#s-1a068508-0402-4b55-9bd8-b92662f73efb #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-1a068508-0402-4b55-9bd8-b92662f73efb #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1a068508-0402-4b55-9bd8-b92662f73efb #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1a068508-0402-4b55-9bd8-b92662f73efb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}