#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-TipoContent {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-TipoTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Tipo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Tipo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Tipo_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Tipo_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Tipo_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-DistanciaText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Mapa {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-DondeText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2d5566ac-008b-45e8-b781-ec6d43b77daa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}