#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-324d9c61-fee4-4543-8e43-8e7911a5d26a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}