#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5d4ba641-79c5-454b-b880-5c6c5cf52bf8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}