#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-TipoContent {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-TipoTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Tipo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Tipo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Tipo_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Tipo_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-DistanciaText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Mapa {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-DondeText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-86189168-8997-4110-aff7-8b2fd59d18ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}