#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-share {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}