#s-8df067f6-1b5d-4706-a5cb-7348d5716357 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Grid-panel {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Panel_3 {
  width: 360px;
  height: 514px;
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_2 {
  position: absolute;
  top: 283px;
  left: 0px;
  padding-top: 12px;
  padding-right: 13px;
  padding-left: 15px;
  width: 332px;
  height: 97px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_2 span#rtr-s-Three-line-item_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_2 span#rtr-s-Three-line-item_2_1 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 {
  position: absolute;
  top: 111px;
  left: 0px;
  padding-top: 12px;
  padding-right: 13px;
  padding-left: 15px;
  width: 332px;
  height: 161px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 span#rtr-s-Three-line-item_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 span#rtr-s-Three-line-item_1_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 span#rtr-s-Three-line-item_1_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 span#rtr-s-Three-line-item_1_3 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item {
  position: absolute;
  top: 0px;
  left: 143px;
  padding-top: 12px;
  padding-right: 13px;
  padding-left: 15px;
  width: 189px;
  height: 100px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item .valign {
  vertical-align: top;
  text-align: left;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item span#rtr-s-Three-line-item_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Two-line-item_27 {
  position: absolute;
  top: 821px;
  left: 0px;
  padding-top: 12px;
  padding-left: 100px;
  width: 260px;
  height: 0px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Two-line-item_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Two-line-item_27 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Two-line-item_27 span#rtr-s-Two-line-item_27_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 135px;
  height: 104px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 {
  position: absolute;
  top: 381px;
  left: 0px;
  padding-top: 12px;
  padding-right: 13px;
  padding-left: 15px;
  width: 332px;
  height: 97px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 span#rtr-s-Three-line-item_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 span#rtr-s-Three-line-item_4_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 span#rtr-s-Three-line-item_4_2 {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Button_1 {
  position: absolute;
  top: 80px;
  left: 162px;
  width: 165px;
  height: 24px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Button_1 span#rtr-s-Button_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Section-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Group_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #02BBD2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_79 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_79 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_79 span#rtr-s-Label_79_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_12 {
  position: absolute;
  top: 41px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_12 span {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-share > svg {
  width: 24px;
  height: 24px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-share {
  position: absolute;
  top: 42px;
  left: 315px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Group_32 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_41 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_41 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_41 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_41 span#rtr-s-Rectangle_41_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Dynamic_Panel_14 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Panel_16 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Panel_16 .verticalalign {
  vertical-align: top;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_18 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_83 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_83 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_83 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_83 span#rtr-s-Label_83_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}