#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Three-line-item_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 165px;
  height: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-share {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Panel_16 > .valign {
  vertical-align: top;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8df067f6-1b5d-4706-a5cb-7348d5716357 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}