#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8e916dd0-12d9-4bdb-933e-96b98221cd07 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}