#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-White-background {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Panel_16 > .valign {
  vertical-align: top;
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-940f1f47-9a99-4a5d-8376-b21593f168d5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}