#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Inbox-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Contactlist-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Contact-bar-color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #02BBD2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_32 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_32 span {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Statusbar_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_5 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Icons_6 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_35 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_35 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Grid-panel {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_3 {
  width: 360px;
  height: 514px;
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-White-background {
  position: absolute;
  top: -15px;
  left: 0px;
  width: 360px;
  height: 709px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-White-background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-White-background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-White-background span#rtr-s-White-background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-EjemploLocal_5 {
  position: absolute;
  top: 489px;
  left: 17px;
  width: 156px;
  height: 190px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_5 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 156px;
  height: 95px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 5px 0px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_5 span#rtr-s-Rectangle1_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_5 {
  position: absolute;
  top: 155px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_5 span#rtr-s-Precio1_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_5 {
  position: absolute;
  top: 125px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_5 span#rtr-s-Tipo1_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_5 {
  position: absolute;
  top: 101px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_5 span#rtr-s-Nombre1_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-EjemploLocal_4 {
  position: absolute;
  top: 489px;
  left: 189px;
  width: 156px;
  height: 190px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_4 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 156px;
  height: 95px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 5px 0px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_4 span#rtr-s-Rectangle1_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_4 {
  position: absolute;
  top: 155px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_4 span#rtr-s-Precio1_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_4 {
  position: absolute;
  top: 125px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_4 span#rtr-s-Tipo1_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_4 {
  position: absolute;
  top: 101px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_4 span#rtr-s-Nombre1_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-EjemploLocal_3 {
  position: absolute;
  top: 280px;
  left: 189px;
  width: 156px;
  height: 190px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_3 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 156px;
  height: 95px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 5px 0px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_3 span#rtr-s-Rectangle1_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_3 {
  position: absolute;
  top: 155px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_3 span#rtr-s-Precio1_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_3 {
  position: absolute;
  top: 125px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_3 span#rtr-s-Tipo1_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_3 {
  position: absolute;
  top: 101px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_3 span#rtr-s-Nombre1_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-EjemploLocal_2 {
  position: absolute;
  top: 280px;
  left: 15px;
  width: 156px;
  height: 190px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_2 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 156px;
  height: 95px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 5px 0px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_2 span#rtr-s-Rectangle1_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_2 {
  position: absolute;
  top: 155px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_2 span#rtr-s-Precio1_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_2 {
  position: absolute;
  top: 125px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_2 span#rtr-s-Tipo1_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_2 {
  position: absolute;
  top: 101px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_2 span#rtr-s-Nombre1_2_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 70px;
  left: 189px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_6 {
  width: 156px;
  height: 190px;
  background-color: transparent;
  background-image: none;
  box-shadow: 0px 3px 5px 0px #404040;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_1 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 156px;
  height: 95px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 5px 0px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1_1 span#rtr-s-Rectangle1_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_1 {
  position: absolute;
  top: 155px;
  left: 57px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1_1 span#rtr-s-Precio1_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_1 {
  position: absolute;
  top: 125px;
  left: 30px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1_1 span#rtr-s-Tipo1_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_1 {
  position: absolute;
  top: 101px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1_1 span#rtr-s-Nombre1_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 70px;
  left: 15px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_2 {
  width: 156px;
  height: 190px;
  background-color: transparent;
  background-image: none;
  box-shadow: 0px 3px 5px 0px #404040;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1 {
  position: absolute;
  top: 95px;
  left: 0px;
  width: 156px;
  height: 95px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle1 span#rtr-s-Rectangle1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1 {
  position: absolute;
  top: 102px;
  left: 50px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Nombre1 span#rtr-s-Nombre1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1 {
  position: absolute;
  top: 127px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Tipo1 span#rtr-s-Tipo1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1 {
  position: absolute;
  top: 155px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Precio1 span#rtr-s-Precio1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Title {
  position: absolute;
  top: 19px;
  left: 20px;
  width: 170px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Title span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Title span#rtr-s-Title_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Hotspot_1 {
  position: absolute;
  top: 70px;
  left: 15px;
  width: 156px;
  height: 190px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Drawer {
  position: absolute;
  top: 0px;
  left: -306px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_1 {
  width: 305px;
  height: 640px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Group_2 {
  width: 306px;
  height: 167px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 306px;
  height: 167px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_1 {
  position: absolute;
  top: 128px;
  left: 18px;
  width: 271px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_5 {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 79px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_1 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_7 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_7 span {
  color: #02BBD2;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #02BBD2;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_3 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Locales {
  width: 306px;
  height: 46px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_6 {
  position: absolute;
  top: 10px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_5 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_6 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_6 span#rtr-s-Rectangle_6_2 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_13 {
  width: 302px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_9 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_10 {
  padding-top: 12px;
  padding-left: 100px;
  width: 206px;
  height: 1px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_11 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_11 span#rtr-s-Rectangle_11_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_12 {
  padding-top: 8px;
  padding-left: 60px;
  width: 246px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_12 span#rtr-s-Rectangle_12_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Softbar {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_8 {
  position: absolute;
  top: 10px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_23 {
  position: absolute;
  top: 10px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 #s-Image_24 {
  position: absolute;
  top: 10px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b37e0e1a-b07c-45b1-a4a4-64e4c3db87f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}