#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Rectangle_41 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Three-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Three-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Three-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 #s-Button-detail {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d679283a-b864-4d24-b80b-1cbcdefc5326 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}